{% load cms_tags sekizai_tags i18n %}
{% load render_bundle from webpack_loader %}

{% get_current_language as  LANGUAGE_CODE %}

<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <title>{% page_attribute "page_title" %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=0" />
        {% render_block "css" %}
        {% render_bundle 'main' 'css' %}
        {% include "familie/main/styles.html" %}
    </head>
    <body>
        {% cms_toolbar %}
        <div id="mwebaza"></div>
        {% include 'familie/main/components/header.html' %}
        {% block content %}

                {% placeholder "content" %}
        {% endblock content %}
        {% render_block "js" %}
        {% include "familie/main/components/footer.html" %}
        {% include "familie/main/scripts.html" %}
        {% render_bundle 'main' 'js' %}
    </body>
</html>
